.header {
    color: #FF7F50;

    &__wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 28px;
      font-weight: 600;
      color: #FF7F50;

      &:hover{
        color: #FF7F50;
      }
    }
    &__logo {
        font-size: 38px;
        margin-right: 10px;
    }
}